body {
  background-color: #f1f3f5;
  font-family: 'Segoe UI', sans-serif;
}

.card {
  border: none;
  background-color: white;
}

.list-group-item {
  border: 1px solid #dee2e6;
}

.todo-text.completed {
  opacity: 0.5;
  text-decoration: line-through;
}
